$gutter-none: 0rem;
$gutter-xs: 0.5rem;
$gutter-s: 1rem;
$gutter-m: 1.5rem;
$gutter-l: 2rem;
$gutter-xl: 3rem;
$font-size-s: 0.75rem;
$font-size-m: 1rem;
$font-size-mm: 1.5rem;
$font-size-l: 2rem;
$font-size-xl: 3rem;
$background-color-dark: #242424;
$text-color-dark: wheat;
$button-color-dark: #6e6d70;
$background-color-light: white;
$text-color-light: black;
$button-color-light: #cac9cc;
