:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.config-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  color: wheat;
}
.search-bar {
  width: 50%;
  height: 1.5rem;
}
.region-select {
  width: 30%;
  height: 2rem;
}
.country-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  gap: 1rem;
  justify-content: space-between;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.country-list__link {
  text-decoration: none;
  color: wheat;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.country-item {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.country-item__detail {
  text-align: center;
}
.country-item__image {
  width: 100%;
  height: 250px;
}
.country-detail__back-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  border: none;

  background: #6e6d70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1),
    inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5),
    0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: wheat;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100px;
}

/*country detail */

.country-detail__subwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  gap: 3rem;
}
.country-detail__imgage {
  width: 750px;
  height: 450px;
}
.country-detail__info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  max-width: 25%;
}
.country-detail__border-link {
  text-decoration: none;
  color: wheat;
}

/* mobile */

@media (max-width: 768px) {
  .config-wrapper {
    flex-direction: column;
    width: 80%;
  }
  .country-list {
    grid-template-columns: 1fr;
  }
  .country-detail__subwrapper {
    flex-direction: column;
    gap: 1rem;
  }
  .country-detail__info-wrapper {
    max-width: 75%;
  }
  .country-detail__imgage {
    width: 100%;
    height: 300px;
  }
}
